.email-index-container {  
  gap: 15px;
  background-color: #f6f8fc;
  width: 100vw;

  height: 100vh;
}

.email-index-non-header {
  display: flex;
  width: 100%;
}

/* ----------- Main distribution ----------- */ 

.index-header {
  display: flex;
  align-items: center;
  padding: 8px;
}

.email-index-sidebar {
  margin-right: 20px;
}

.email-index-main {
  background-color: #ffffff;
  border-radius: 25px 25px 0 0;
  padding-top: 15px;
  height: 90vh;
  width: 100%;
  white-space: no-wrap;
}

.email-index-right {
  width: 60px;
}

/* ----------------------------------------- */ 


/* ----------- Header  ----------- */ 

.email-index-header-hamb-n-logo {
  display: flex;
  width: 210px;
  padding-right: 30px;
}
.email-index-header-hamb-btn {
  padding: 12px;
  margin: 4px;
  font-size: 20px;
  margin-top: 7px;
  background-color: transparent;
  border: none;
}

.email-index-header-gmail-logo {
  display: flex;
  align-items: center;
  gap: 7px;

  font: normal 16px Google Sans, Roboto, Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.email-filter-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
