.email-details-container {
  background-color: white;
  flex-direction: column;
  display: flex;
  min-height: 60vh;
  padding: 25px;
  border-radius: 10px;
}

.email-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.email-details-header {
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 1.375rem;
  font-variant-ligatures: no-contextual;
  color: #1f1f1f;
  font-weight: 400;
}

.address {
  display: flex;
  flex-direction: column;
}
.email-details-from {
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  letter-spacing: normal;
  color: #1f1f1f;
  line-height: 20px;
  font-weight: bold;
  white-space: nowrap;
}

.email-details-to {
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
}

.email-details-body {
  padding-top: 20px;
  font-size: 12pt;
  font-family: Arial;
}

/* Buttons */
.email-buttons {
  display: flex;
  gap: 15px;
  margin-top: auto;
}
.email-details-button {
  border: 1px solid #747775;
  border-radius: 18px;
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  color: #444746;
  font-weight: 500;
  background: none;
  padding: 8px 16px;
  letter-spacing: 0.1cap;
}
