.email-compose-container {
    display: flex;
    flex-direction: column;

    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    z-index: 999;
    bottom: 0;

    background-color: white;
    position: absolute; /* Position element relative to its containing block */
    border-radius: 8px 8px 0 0;
    box-shadow: rgba(0,0,0,.2) 0 2px 6px;
    
}
.email-compose-container.normal{
    width: 550px;
    right: 80px; /* Align to the right */
}

.email-compose-container.expand{
    width: 1500px;
    font-size: .875rem;

    bottom: 2%;
    left: 10%;

    box-shadow: rgba(0,0,0,.4) 0 4px 300px;    
}

.email-compose-container.expand .compose-e-s-btn{
    font-size: 12px;   
}

.email-compose-container.expand .compose-body{
    height: 600px;  
}

.email-compose-header {
    background-color: #f2f2f2;
    display: flex;
}

/* buttons */
.compose-header-buttons {
    display: flex;
    margin-left: 4px;
    opacity: 1;
    position: relative;

    margin-left: auto;
    margin-right: 16px;

}
.compose-exit-button {
    border: none;
    background-color: transparent;
}

.compose-e-s-btn {
    border: none;
    background-color: transparent;
    font-size: 16px;
    margin-top: 5px;
}

.compose-minimize-btn {
    border: none;
    background-color: transparent;
}

/* ---------- */ 

.header-message {
    color :#041e49;

    -webkit-font-smoothing: antialiased;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: .875rem;
    letter-spacing: normal;
    font-weight: 500;
    margin: 0;

    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 16px;
}

.compose-inputs {
    display: flex;
    flex-direction: column;
}
.rec-sub {
    padding-bottom: 10px;
    padding-top: 10px;

    color: #222;
    font-size: .875rem;
    
    margin-left: 16px;
    margin-right: 16px;

    border: none;
    border-bottom: 1px solid #cfcfcf;
}

.compose-body {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 10px;
    direction: ltr; 
    height: 400px;
    border: none;
    outline: none;
}

/* Footer */
.email-compose-footer {
    display: flex;
}

.compose-send-btn {
    padding: 5px 20px;
    margin-left: 16px;
    align-self: flex-end;

    font-size: 120%;
    font-family: 14px "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    color: white;
    background-color: #0B57D0;
    border-radius: 20px;
    margin-bottom: 16px;

    border: none;
}

.compose-delete-btn{
    margin-left: auto;
    width: 50px;
    margin-right: 16px;
    margin-bottom: 16px;
    align-self: flex-end;

    border: none;
    background-color: white;
    font-size: 22px;
}