.search-filter-container {
  display: flex;
  gap: 20px;
  align-items: center; /* Centers items vertically */
  border-radius: 24px;

  padding: 6px;
  margin: 0 96px 0 35px;
  background-color: #eaf1fb;

  min-width: 580px;
  max-width: 720px;
  height: 46px;
}

.search-filter-container input[type="text"] {
  -webkit-appearance: none; /* Safari/Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* Other browsers */

  /* Apply your custom styles here */
  background-color: #eaf1fb;
  border: none;
  padding: 0;
  font: normal 16px Google Sans, Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  color: #7a7c7e;
}

.search-logo {
  color: #7a7c7e;
  margin-top: 5px;
  padding: 6px;
}
