.side-bar-container {
  display: grid;
  gap: 12px;
}

/* --------- Navs --------- */
.side-bar-navs {
  display: flex;
  justify-items: center;
  flex-direction: column;
   
  color: #222326;
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 14px;

}

.side-bar-single-nav {
  display: flex;
  padding: 4px 12px 0 26px;
  border-radius: 0 15px 15px 0px;
  height: 32px;
  justify-self: center;
  font-weight: lighter;
}

.side-bar-single-nav:hover {
  text-decoration: none;
  background-color: #e7f0ff;
}

.side-bar-single-nav-number{
  margin-left: auto;
}
.side-bar-navs .active {
  font-weight: bold;
  background-color: #d3e3fd;
  color: #222326;
}

.side-bar-icon {
  font-size: 20px;
  margin-right: 18px;
}

/* ----------------------- */

.side-bar-compose {
  display: flex;

  border-radius: 16px;
  background-color: #c2e7fe;
  padding: 18px 12px 0 13px;

  height: 56px;
  width: 142px;

  margin: 0px 0 0 16px;

  border: none;
  
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #001d35
}

