.side-bar-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* --------- Navs --------- */
.side-bar-navs {
  display: flex;
  justify-items: center;
  flex-direction: column;
   
  color: #222326;
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 14px;

}

.side-bar-single-nav {
  display: flex;
  padding: 4px 12px 0 26px;
  border-radius: 0 15px 15px 0px;
  height: 32px;
  margin: 1px;
  justify-self: center;
  font-weight: lighter;
}

.nav-name {
  display: flex;
  justify-content: space-between;
}
.side-bar-single-nav:hover {
  text-decoration: none;
  background-color: RGB(254, 250, 251, 0.5);
}

.side-bar-single-nav-number.open{
  margin-left: 120px;
}
.active {
  font-weight: bold;
  background-color: RGB(254, 250, 251);
  color: #222326;
}

.side-bar-icon {
  font-size: 20px;
  margin-right: 18px;
}

/* ----------------------- */

.side-bar-compose {
  display: flex;
  justify-content: center;

  border-radius: 16px;
  background-color: #f5d7df;
  padding: 16px 0 2px 13px;

  height: 56px;
  width: fit-content;

  margin: 2px 0 0 16px;

  border: none;
  
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #001d35
}

.side-bar-compose.open {
  padding-right: 20px;
}

